@charset "UTF-8";
*,
::after,
::before {
  box-sizing: border-box;
}

ol[class],
ul[class] {
  padding-left: 0;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
ol[class],
p,
ul[class] {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  font-size: 1rem;
}

ol[class],
ul[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
video {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

button,
input,
select,
textarea {
  font: inherit;
}

img:not([alt]) {
  filter: blur(10px);
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01s !important;
    animation-duration: 0.01s !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1140;
  --fluid-min-size: 21;
  --fluid-max-size: 24;
  --fluid-min-ratio: 1.618;
  --fluid-max-ratio: 1.618;
  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) / ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16)));
}

@media screen and (min-width: 1140px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}
:root {
  --fluid-max-negative: (1/var(--fluid-max-ratio)/var(--fluid-max-ratio));
  --fluid-min-negative: (1/var(--fluid-min-ratio)/var(--fluid-min-ratio));
  --fluid-min-scale--2: var(--fluid-min-scale--1) * var(--fluid-min-ratio) * var(--fluid-min-negative);
  --fluid-max-scale--2: var(--fluid-max-scale--1) * var(--fluid-max-ratio) * var(--fluid-max-negative);
  --fluid-min-size--2: (var(--fluid-min-size) * var(--fluid-min-scale--2))/16;
  --fluid-max-size--2: (var(--fluid-max-size) * var(--fluid-max-scale--2))/16;
  --step--2: calc(((var(--fluid-min-size--2) * 1rem) + (var(--fluid-max-size--2) - var(--fluid-min-size--2)) * var(--fluid-bp)));
  --fluid-min-scale--1: var(--fluid-min-ratio) * var(--fluid-min-negative);
  --fluid-max-scale--1: var(--fluid-max-ratio) * var(--fluid-max-negative);
  --fluid-min-size--1: (var(--fluid-min-size) * var(--fluid-min-scale--1))/16;
  --fluid-max-size--1: (var(--fluid-max-size) * var(--fluid-max-scale--1))/16;
  --step--1: calc(((var(--fluid-min-size--1) * 1rem) + (var(--fluid-max-size--1) - var(--fluid-min-size--1)) * var(--fluid-bp)));
  --fluid-min-scale-0: var(--fluid-min-ratio);
  --fluid-max-scale-0: var(--fluid-max-ratio);
  --fluid-min-size-0: (var(--fluid-min-size))/16;
  --fluid-max-size-0: (var(--fluid-max-size))/16;
  --step-0: calc(((var(--fluid-min-size-0) * 1rem) + (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)));
  --fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
  --fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
  --fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0))/16;
  --fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0))/16;
  --step-1: calc(((var(--fluid-min-size-1) * 1rem) + (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)));
  --fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
  --fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
  --fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1))/16;
  --fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1))/16;
  --step-2: calc(((var(--fluid-min-size-2) * 1rem) + (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)));
  --fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
  --fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
  --fluid-min-size-3: (var(--fluid-min-size) * var(--fluid-min-scale-2))/16;
  --fluid-max-size-3: (var(--fluid-max-size) * var(--fluid-max-scale-2))/16;
  --step-3: calc(((var(--fluid-min-size-3) * 1rem) + (var(--fluid-max-size-3) - var(--fluid-min-size-3)) * var(--fluid-bp)));
  --metric-gutter: var(--size-normal);
  --transition-movement: 250ms ease-out;
  --transition-opacity: 200ms ease-in-out;
  --transition-snappy: 150ms ease;
  --color-primary: #006ba6;
  --color-primary-mid: #004a73;
  --color-primary-trans: rgba(0, 30, 47, .9);
  --color-transparent: transparent;
  --color-light: #efefef;
  --color-dark: #252525;
  --color-level-1: #3d993d;
  --color-level-2: #ffff5f;
  --color-level-3: #ff9000;
  --color-level-3-4: #ff4500;
  --color-level-4: #a50000;
  --size-x-small: var(--step--2);
  --size-small: var(--step--1);
  --size-normal: var(--step-0);
  --size-large: var(--step-1);
  --size-major: var(--step-2);
  --size-maxi: var(--step-3);
  --metric-radius: .4rem;
  --icon-up: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='1rem' height='1rem' stroke='currentColor' stroke-width='1.5' fill='none' stroke-linecap='round' stroke-linejoin='round' aria-hidden='true'%3E%3Cpolyline points='23 6 13.5 15.5 8.5 10.5 1 18'%3E%3C/polyline%3E%3Cpolyline points='17 6 23 6 23 12'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='1rem' height='1rem' stroke='currentColor' stroke-width='1.5' fill='none' stroke-linecap='round' stroke-linejoin='round' aria-hidden='true'%3E%3Cpolyline points='23 18 13.5 8.5 8.5 13.5 1 6'%3E%3C/polyline%3E%3Cpolyline points='17 18 23 18 23 12'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-stable: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='1rem' height='1rem' stroke='currentColor' stroke-width='1.5' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3Cpolyline points='12 5 19 12 12 19'%3E%3C/polyline%3E%3C/svg%3E");
}

.bg-primary {
  background: #006ba6;
}

.bc-primary {
  border-color: #006ba6;
}

.color-primary {
  color: #006ba6;
}

.color-primary-mid {
  color: #004a73;
}

.color-primary-trans {
  color: rgba(0, 30, 47, 0.9);
}

.color-transparent {
  color: transparent;
}

.color-light {
  color: #efefef;
}

.color-dark {
  color: #252525;
}

.color-level-1 {
  color: #3d993d;
}

.color-level-2 {
  color: #ffff5f;
}

.color-level-3 {
  color: #ff8000;
}

.color-level-4 {
  color: #a50000;
}

.gap-top-maxi {
  margin-top: var(--step-3);
}

.leading-tight {
  line-height: 1.2;
}

.text-small {
  font-size: var(--step--1);
}

.text-large {
  font-size: var(--step-1);
}

.weight-bold {
  font-weight: 700;
}

body {
  background: var(--color-light);
  color: var(--color-dark);
  padding: var(--size-large) var(--size-normal);
  font-family: sans-serif;
}

main:focus {
  outline: 0;
}

h1,
h2 {
  font-family: serif;
  position: relative;
}

a {
  color: currentColor;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: 1px dotted var(--color-dark);
  outline-offset: 0.25rem;
}

.no-js button[type=button][data-element] {
  display: none;
}

::-moz-selection {
  background: var(--color-dark);
  color: var(--color-light);
}

::selection {
  background: var(--color-dark);
  color: var(--color-light);
}

label {
  display: block;
  font-size: var(--size-small);
  font-family: monospace;
}

select {
  text-transform: uppercase;
  border-radius: var(--metric-radius);
  border: 0.25rem solid;
  padding: 0.19rem 1.8rem 0.17rem 0.17rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--color-light);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke='currentColor' stroke-width='3' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right var(--size-x-small) center;
  background-size: var(--size-small);
}

button,
select {
  font-weight: 400;
  cursor: pointer;
}

button {
  border-radius: var(--metric-radius);
  border: 0.25rem solid;
  border: currentcolor;
  padding: 0.4rem;
}

button:hover {
  background: var(--color-primary-mid);
  color: var(--color-light);
  border-color: var(--color-primary);
}

.skip-link:focus {
  clip: unset;
  width: auto;
  padding: 0.5rem 1rem;
  text-decoration: none;
  z-index: 99;
}

.flow {
  --flow-space: 1em;
}

.flow > * + * {
  margin-top: 1em;
  margin-top: var(--flow-space);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.site-head,
.summary,
footer,
section {
  --flow-space: var(--size-large);
  margin: 0 auto;
  max-width: 60ch;
}

.site-head,
footer {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
}

main > section {
  visibility: hidden;
}

section.level1 {
  order: 4;
}

section.level2 {
  order: 3;
}

section.level3 {
  order: 2;
}

section.level4 {
  order: 1;
}

section.summary {
  order: -1;
  --flow-space: var(--size-small);
}

p[aria-hidden=true] {
  text-transform: uppercase;
  text-align: center;
}

section:not(.summary):not(.level1):not(.level2):not(.level3):not(.level4) {
  order: 6;
}

.summary.riesgo0 > svg {
  fill: var(--color-level-1);
}

.summary.riesgo1 > svg {
  fill: var(--color-level-2);
}

.summary.riesgo2 > svg {
  fill: var(--color-level-3);
}

.summary.riesgo3 > svg {
  fill: var(--color-level-3-4);
}

.summary.riesgo4 > svg {
  fill: var(--color-level-4);
}

.summary.riesgo0 > div {
  border: 3px solid var(--color-level-1);
}

.summary.riesgo1 > div {
  border: 3px solid var(--color-level-2);
}

.summary.riesgo2 > div {
  border: 3px solid var(--color-level-3);
}

.summary.riesgo3 > div {
  border: 3px solid var(--color-level-3-4);
}

.summary.riesgo4 > div {
  border: 3px solid var(--color-level-4);
}

.summary > div {
  padding: var(--size-x-small);
}

.summary:not(.riesgo0):not(.riesgo1):not(.riesgo2):not(.riesgo3):not(.riesgo4) > div {
  padding: 0;
}

footer,
section {
  --flow-space: var(--size-normal);
  margin-top: var(--size-major);
}

form {
  text-align: left;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer > form {
  margin-bottom: var(--size-large);
}

svg {
  width: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  fill: transparent;
  stroke: var(--color-dark);
}

footer > *:not(select) {
  font-family: monospace;
  color: #505050;
}

small {
  font-size: var(--size-small);
  color: #505050;
}

footer svg {
  stroke: none;
}

section > h2::before {
  content: " ";
  width: var(--size-small);
  height: var(--size-small);
  border: 1px solid;
  border-radius: 50%;
  display: inline-block;
  margin-right: var(--size-x-small);
}

section > h2::after,
strong::after {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  bottom: 0.25em;
}

strong::after {
  opacity: 1;
  position: relative;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
  padding-left: 1.25em;
  margin: 0 0.2em 0 0.5em;
  bottom: -0.3em;
}

section.level1 > h2::before {
  background-color: var(--color-level-1);
}

section strong.estable::after {
  background-image: var(--icon-stable);
  background-size: 85%;
  bottom: -0.18em;
}

section strong.creciente::after {
  background-image: var(--icon-up);
}

section strong.decreciente::after {
  background-image: var(--icon-down);
}

section.level1 > h2::after {
  content: ", situaci\F3n buena";
}

section strong.level1.estable::after {
  content: ", situaci\F3n buena y tendencia estable";
}

section strong.level1.creciente::after {
  content: ", situaci\F3n buena pero tendencia creciente";
}

section strong.level1.decreciente::after {
  content: ", situaci\F3n buena y tendencia decreciente";
}

section .level1,
section.level1 > p > strong {
  border-bottom: solid var(--color-level-1) 4px;
}

section.level2 > h2::before {
  background-color: var(--color-level-2);
}

section.level2 > h2::after {
  content: ", situaci\F3n preocupante";
}

section strong.level2.estable::after {
  content: ", situaci\F3n preocupante y tendencia estable";
}

section strong.level2.creciente::after {
  content: ", situaci\F3n preocupante y tendencia creciente";
}

section strong.level2.decreciente::after {
  content: ", situaci\F3n preocupante y tendencia decreciente";
}

section .level2,
section.level2 > p > strong {
  border-bottom: solid var(--color-level-2) 4px;
}

section.level3 > h2::before {
  background-color: var(--color-level-3);
}

section.level3 > h2::after {
  content: ", situaci\F3n mala";
}

section strong.level3.estable::after {
  content: ", situaci\F3n mala y tendencia estable";
}

section strong.level3.creciente::after {
  content: ", situaci\F3n mala y tendencia creciente";
}

section strong.level3.decreciente::after {
  content: ", situaci\F3n mala y tendencia decreciente";
}

section .level3,
section.level3 > p > strong {
  border-bottom: solid var(--color-level-3) 4px;
}

section.level4 > h2::before {
  background-color: var(--color-level-4);
}

section.level4 > h2::after {
  content: ", situaci\F3n muy mala";
}

section strong.level4.estable::after {
  content: ", situaci\F3n muy mala y tendencia estable";
}

section strong.level4.creciente::after {
  content: ", situaci\F3n muy mala y tendencia creciente";
}

section strong.level4.decreciente::after {
  content: ", situaci\F3n muy mala y tendencia decreciente";
}

section .level4,
section.level4 > p > strong {
  border-bottom: solid var(--color-level-4) 4px;
}

#ocupacion_hospitalaria strong {
  border-bottom: unset;
}

#evolucion strong {
  font-weight: normal;
}

meter {
  display: block;
  width: 100%;
  height: var(--size-x-small);
  margin-bottom: var(--size-x-small);
}