<!DOCTYPE html>
<html lang="es" class="no-js">
<head>
    <link rel="preconnect" href="https://analisis.datosabiertos.jcyl.es">
    <link rel="dns-prefetch" href="https://analisis.datosabiertos.jcyl.es">
    <link rel="preconnect" href="https://gc.zgo.at/count.js" crossorigin>
    <link rel="dns-prefetch" href="https://gc.zgo.at/count.js">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title data-element="title">Situación simplificada COVID19 en Castilla y León</title>
    <link rel="canonical" href="https://cyl19.ogarcia.es/">
    <meta property="og:site_name" content="CyL19">
    <meta property="og:title" content="Situación simplificada COVID19 en Castilla y León">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://cyl19.ogarcia.es/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@ogarcia_es">
    <meta name="description" content="Consulta los datos actualizados de la epidemia COVID19 en Casilla y León de manera simple y accesible.">
    <meta name="twitter:description" content="Consulta los datos actualizados de la epidemia COVID19 en Casilla y León de manera simple y accesible.">
    <meta property="og:description" content="Consulta los datos actualizados de la epidemia COVID19 en Casilla y León de manera simple y accesible.">
    <meta property="og:image" content="https://cyl19.ogarcia.es/banner.png">
    <meta name="twitter:image" content="https://cyl19.ogarcia.es/banner.png">
    <meta property="og:image:alt" content="Imagen de la página CyL19">
    <meta name="twitter:image:alt" content="Imagen de la página CyL19">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#b91d47">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <script>document.documentElement.classList.remove('no-js');</script>
    <script type="application/ld+json">
        {"@context":"https://schema.org/","@type":"WebSite","name":"Situación simplificada COVID19 en Castilla y León","url":"https://cyl19.ogarcia.es","image":{"@type":"imageObject","url":"https://cyl19.ogarcia.es/banner.png","width":"1000","height":"500"}}
    </script>
    {% if helpers.environment === "development" %}
        <style>{% include "../../../css/main.css" %}</style>
    {% else %}
        <style>{% include "../../../css/main.min.css" %}</style>
    {% endif %}
</head>
<body>
    <a class="[ skip-link ] [ visually-hidden ]" href="#main-content">Ir a contenido principal</a>
    <header class="[ site-head ] [ flow ]">
        <h1 class="text-large weight-bold leading-tight">Situación simplificada COVID19 en <span data-element="provincia">Castilla y León</span></h1>
        <form id="form" action="" method="GET" data-element="form">
            <div>
                <label for="provincia"> Provincia: </label>
                <div>
                    <select id="provincia" name="provincia">
                        <option>Castilla y León</option>
                        <option>Ávila</option>
                        <option>Burgos</option>
                        <option>León</option>
                        <option>Palencia</option>
                        <option>Salamanca</option>
                        <option>Segovia</option>
                        <option>Soria</option>
                        <option>Valladolid</option>
                        <option>Zamora</option>
                    </select>
                    <button type="submit" class="[ bg-primary color-light bc-primary ]">Ver</button>
                </div>
                <small role="status" class="js-mode-status">Consultando datos a la Junta...</small>
            </div>
        </form>
    </header>
    <main id="main-content" class="gap-top-maxi">
        <section id="summary" class="[ summary ] [ flow ]">
            <svg class="status-icon" role="img" focusable="false" viewBox="0 0 43.885545 43.885545" width="100%"><title>Castilla y León se encuentra en -</title><circle cx="21.942772" cy="21.942772" r="20.742771" style="stroke-width:2;stroke-linecap:round;" /></svg>
            <p data-element="indicadoresDeRiesgo_error" class="color-level-4"></p>
            <p aria-hidden="true"><strong data-element="indicadoresDeRiesgo">-</strong></p>
            <div class="flow">
                <p><span data-element="riskDescription"></span> <span data-element="advice">Mantenga la distancia social, mascarilla e higiene respiratoria y de manos.</span> En todo caso, siga escrupulosamente las <a href="https://comunicacion.jcyl.es/web/es/coronavirus.html" rel="external">indicaciones de las autoridades sanitarias</a>.</p>
                <p><small>Criterio de situación: en función de los <a href="https://analisis.datosabiertos.jcyl.es/pages/coronavirus/" rel="external">indicadores de riesgo acordados en el Consejo Interterritorial del Sistema Nacional de Salud</a>. Dato a fecha <time datetime="" data-element="indicadoresDeRiesgo_fecha"></time>.</small></p>
            </div>
        </section>
        <section id="positivos14" class="[ flow ]">
            <h2>Tasa PCR positivos en los últimos 14 días</h2>
            <p data-element="positivos14_error" class="color-level-4"></p>
            <p>La tasa de personas con primera PCR positiva por 10.000 tarjetas sanitarias en los últimos 14 días para <b data-element="provincia">Castilla y León</b> a fecha <time datetime="" data-element="positivos14_fecha"></time> es de <strong data-element="positivos14">-</strong>.</p>
            <p><small>Criterio para situación: menor o igual que 5, buena (verde); mayor que 5, preocupante (amarillo); mayor que 10, mala (naranja); mayor que 25, muy mala (rojo). Tendencia: valor actual respecto a la media de los últimos 7 días.</small></p>
        </section>
        <section id="rastreadores" class="[ flow ]">
            <h2>Rastreadores</h2>
            <p data-element="rastreadores_error" class="color-level-4"></p>
            <p>El número de rastreadores para <b data-element="provincia">Castilla y León</b> es de <strong><span data-element="rastreadores">-</span> de <span data-element="rastreadores_minimos_recomendados">-</span> recomendados.</strong></p>
            <p><small>Dato del <time datetime="" data-element="rastreadores_fecha"></time>. Criterio para situación: mayor que el número recomendado, buena (verde); igual al número recomendado, preocupante (amarillo); menor que número recomendado, muy mala (rojo). Los efectivos de las Fuerzas Armadas incorporados como rastreadores no se distribuyen por provincias, por lo que no aparecen computados en cada una de ellas.</small></p>
        </section>
        <section id="hospitalario_dia" class="[ flow ]">
            <h2>Situación a nivel hospitalario (COVID19)</h2>
            <p data-element="hospitalario_dia_error" class="color-level-4"></p>
            <p>Datos a fecha <time data-element="hospitalario_dia_fecha"></time> para <b data-element="provincia">Castilla y León</b>:</p>
            <ul>
                <li><strong><span data-element="hospitalizados_planta_dia">-</span> hospitalizados en planta</strong>. El máximo fue de <span data-element="hospitalizados_planta_reference">-</span> el día <time data-element="hospitalizados_planta_reference_fecha"></time>.</li>
                <li><strong><span data-element="hospitalizados_uci_dia">-</span> hospitalizados en unidades de críticos</strong>. El máximo fue de <span data-element="hospitalizados_uci_reference">-</span> el día <time data-element="hospitalizados_uci_reference_fecha"></time>.</li>
                <li><strong><span data-element="fallecidos_dia">-</span> fallecidos</strong>. El máximo fue de <span data-element="fallecidos_reference">-</span> el día <time data-element="fallecidos_reference_fecha"></time>.</li>
            </ul>
            <p><small>Criterio de situación según porcentaje respecto al máximo: entre 0% y 5%, buena (verde); entre 5% y 30%, preocupante (amarillo); entre 30% y 55%, mala (naranja); mayor que 55%, muy mala (rojo). Tendencia: valor actual respecto a la media de los últimos 7 días.</small></p>
        </section>
        <section id="ocupacion_hospitalaria" class="[ flow ]">
            <h2>Ocupación hospitalaria general</h2>
            <p data-element="ocupacion_hospitalaria_error" class="color-level-4"></p>
            <p>Datos a fecha <time data-element="ocupacion_hospitalaria_fecha"></time> para <b data-element="provincia">Castilla y León</b>:</p>
            <ul>
                <li><strong><span data-element="camas_ocupadas_planta">-</span> camas ocupadas en planta de <span data-element="camas_habilitadas_planta">-</span> habilitadas</strong>. Número inicial de camas en planta: <span data-element="camas_iniciales_planta">-</span>.<meter min="0" max="100" low="69" high="84" optimum="0" value="57"></meter></li>
                <li><strong><span data-element="camas_ocupadas_uci">-</span> camas ocupadas en UCI de <span data-element="camas_habilitadas_uci">-</span> habilitadas</strong>. Número inicial de camas UCI: <span data-element="camas_iniciales_uci">-</span>.<meter min="0" max="100" low="69" high="84" optimum="0" value="57"></meter></li>
            </ul>
            <p><small>Criterio de situación según porcentaje de ocupación: entre 0% y 69%, buena (verde); entre 69% y 84%, preocupante (amarillo); mayor que 84%, muy mala (rojo) Tendencia: valor actual respecto a la media de los últimos 7 días.</small></p>
        </section>
        <section id="nuevos_positivos" class="[ flow ]">
            <h2>Nuevos casos positivos</h2>
            <p data-element="nuevos_positivos_error" class="color-level-4"></p>
            <p>Datos a fecha <time data-element="nuevos_positivos_fecha"></time> para <b data-element="provincia">Castilla y León</b>:</p>
            <p><strong><span data-element="nuevos_positivos_dia">-</span> nuevos casos positivos</strong>. El máximo fue de <span data-element="nuevos_positivos_reference">-</span> el día <time data-element="nuevos_positivos_reference_fecha"></time>.</p>
            <p><small>Criterio de situación según porcentaje respecto al máximo: entre 0% y 5%, buena (verde); entre 5% y 30%, preocupante (amarillo); entre 30% y 55%, mala (naranja); mayor que 55%, muy mala (rojo). Tendencia: valor actual respecto a la media de los últimos 7 días.</small></p>
        </section>
        <section id="prevalencia" class="[ flow ]">
            <h2>Casos activos</h2>
            <p data-element="prevalencia_error" class="color-level-4"></p>
            <p>Datos a fecha <time data-element="prevalencia_fecha"></time> para <b data-element="provincia">Castilla y León</b>:</p>
            <p><strong><span data-element="prevalencia_dia">-</span> casos activos</strong>. El máximo fue de <span data-element="prevalencia_reference">-</span> el día <time data-element="prevalencia_reference_fecha"></time>.</p>
            <p><small>Criterio de situación según porcentaje respecto al máximo: entre 0% y 5%, buena (verde); entre 5% y 30%, preocupante (amarillo); entre 30% y 55%, mala (naranja); mayor que 55%, muy mala (rojo). Tendencia: valor actual respecto a la media de los últimos 7 días.</small></p>
        </section>
        <section id="evolucion" class="[ flow ]">
            <h2>Evolución y más información</h2>
            <p>Para obtener información sobre la evolución de la pandemia o el detalle de su zona básica de salud visite la <a href="https://analisis.datosabiertos.jcyl.es/pages/coronavirus/" rel="external">web de la situación epidemiológica del coronavirus en Castilla y León</a> que ofrece la Junta.</p>

            <p>Puede ayudar en el rastreo de contagios instalando en su móvil la aplicación <i>Radar COVID</i>, disponible para <a href="https://play.google.com/store/apps/details?id=es.gob.radarcovid" rel="external">dispositivos Android</a> y <a href="https://apps.apple.com/es/app/radar-covid/id1520443509" rel="external">dispositivos iOS</a>.</p>

            <p><strong>Mantenga la distancia social, mascarilla e higiene respiratoria y de manos. Avise a su centro de salud si tiene síntomas.</strong></p>
        </section>
    </main>
    <footer role="contentinfo" class="flow gap-top-maxi level1 level2 level3 level4 riesgo0 riesgo1 riesgo2 riesgo3 riesgo4 creciente decreciente estable">
        <form action="" method="GET" data-element="form">
            <div>
                <label for="provincia2">Provincia: </label>
                <div>
                    <select id="provincia2" name="provincia">
                        <option>Castilla y León</option>
                        <option>Ávila</option>
                        <option>Burgos</option>
                        <option>León</option>
                        <option>Palencia</option>
                        <option>Salamanca</option>
                        <option>Segovia</option>
                        <option>Soria</option>
                        <option>Valladolid</option>
                        <option>Zamora</option>
                    </select>
                    <button type="submit" class="[ bg-primary color-light bc-primary ]">Ver</button>
                </div>
            </div>
        </form>
        <svg aria-hidden="true" focusable="false" viewBox="0 0 43.885545 43.885545" width="100%"><path d="M 3.1129787,11.071386 21.942772,21.942771 V 11.071386 Z" style="fill:#4f4f4f" /><path d="m 21.942772,21.942771 v 21.74277 l -9.414894,-16.30708 z" style="fill:#191919" /><path d="M 21.94277,21.942771 40.772562,11.071386 31.357663,27.378461 Z" style="fill:#a4a4a4" /><path d="m 3.1129787,11.071386 28.2446843,16.307075 -9.414891,16.30708 10e-7,-32.614152 H 40.772565 L 12.527878,27.378461 Z" style="fill:#242424" /></svg>
        <p class="text-small">Un <a href="https://gitlab.com/oscc-es/cyl19" rel="external">proyecto</a> de <a href="https://ogarcia.es" rel="external" data-goatcounter-click="ogarcia.es">Óscar García</a> realizado con <a href="https://datosabiertos.jcyl.es/web/es/datos-abiertos-castilla-leon.html" rel="external">datos abiertos de la Junta de Castilla y León</a>. Errores o sugerencias a <a href="mailto:cyl19@ogarcia.es">cyl19@ogarcia.es</a></p>
    </footer>

    {% if helpers.environment === "development" %}
        <script>{% include "../../../js/main.js" %}</script>
    {% else %}
        <script>{% include "../../../js/main.min.js" %}</script>
    {% endif %}
    <script data-goatcounter="https://cyl19.goatcounter.com/count" async src="https://gc.zgo.at/count.js"></script>
</body>
</html>