<!DOCTYPE html>
<html lang="es" class="no-js">
<head>
    <link rel="preconnect" href="https://analisis.datosabiertos.jcyl.es">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estás sin conexión · Situación simplificada COVID19 en Castilla y León</title>
    <link rel="canonical" href="https://cyl19.ogarcia.es/">
    <meta property="og:site_name" content="CyL19">
    <meta property="og:title" content="Situación simplificada COVID19 en Castilla y León">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://cyl19.ogarcia.es/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@ogarcia_es">
    <meta name="description" content="Consulta los datos actualizados de la epidemia COVID19 en Casilla y León de manera simple y accesible.">
    <meta name="twitter:description" content="Consulta los datos actualizados de la epidemia COVID19 en Casilla y León de manera simple y accesible.">
    <meta property="og:description" content="Consulta los datos actualizados de la epidemia COVID19 en Casilla y León de manera simple y accesible.">
    <meta property="og:image" content="https://cyl19.ogarcia.es/banner.png">
    <meta name="twitter:image" content="https://cyl19.ogarcia.es/banner.png">
    <meta property="og:image:alt" content="Imagen de la página CyL19">
    <meta name="twitter:image:alt" content="Imagen de la página CyL19">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#b91d47">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <script>document.documentElement.classList.remove('no-js');</script>
    <script type="application/ld+json">
        {"@context":"https://schema.org/","@type":"WebSite","name":"Situación simplificada COVID19 en Castilla y León","url":"https://cyl19.ogarcia.es","image":{"@type":"imageObject","url":"https://cyl19.ogarcia.es/banner.png","width":"1000","height":"500"}}
    </script>
    {% if helpers.environment === "development" %}
        <style>{% include "../../../css/main.css" %}</style>
    {% else %}
        <style>{% include "../../../css/main.min.css" %}</style>
    {% endif %}
</head>
<body>
    <a class="[ skip-link ] [ visually-hidden ]" href="#main-content">Ir a contenido principal</a>
    <header class="[ site-head ] [ flow ]">
        <h1 class="text-large weight-bold leading-tight">Situación simplificada COVID19 en <span data-element="provincia">Castilla y León</span></h1>
        <form id="form" action="/" method="GET" data-element="form">
            <div>
                <label for="provincia"> Provincia: </label>
                <div>
                    <select id="provincia" name="provincia">
                        <option>Castilla y León</option>
                        <option>Ávila</option>
                        <option>Burgos</option>
                        <option>León</option>
                        <option>Palencia</option>
                        <option>Salamanca</option>
                        <option>Segovia</option>
                        <option>Soria</option>
                        <option>Valladolid</option>
                        <option>Zamora</option>
                    </select>
                    <button type="submit" class="[ bg-primary color-light bc-primary ]">Ver</button>
                </div>
            </div>
        </form>
    </header>
    <main id="main-content" class="gap-top-maxi">
        <section id="summary" class="[ summary ] [ flow ]">
            <svg class="status-icon" aria-hidden="true" focusable="false" viewBox="0 0 43.885545 43.885545" width="100%"><circle cx="21.942772" cy="21.942772" r="20.742771" style="stroke-width:2;stroke-linecap:round;" /></svg>
            <div class="flow">
                <p data-element="advice">Parece que estás desconectado, esta aplicación necesita conexión a internet.</p>

                <p data-element="advice">Mantenga la distancia social, mascarilla e higiene respiratoria y de manos. Avise a su centro de salud si tiene síntomas.</p>
            </div>
        </section>
    </main>
    <footer role="contentinfo" class="flow gap-top-maxi">
        <svg aria-hidden="true" focusable="false" viewBox="0 0 43.885545 43.885545" width="100%"><path d="M 3.1129787,11.071386 21.942772,21.942771 V 11.071386 Z" style="fill:#4f4f4f" /><path d="m 21.942772,21.942771 v 21.74277 l -9.414894,-16.30708 z" style="fill:#191919" /><path d="M 21.94277,21.942771 40.772562,11.071386 31.357663,27.378461 Z" style="fill:#a4a4a4" /><path d="m 3.1129787,11.071386 28.2446843,16.307075 -9.414891,16.30708 10e-7,-32.614152 H 40.772565 L 12.527878,27.378461 Z" style="fill:#242424" /></svg>
        <p class="text-small">Un <a href="https://gitlab.com/oscc-es/cyl19" rel="external">proyecto</a> de <a href="https://ogarcia.es" rel="external">Óscar García</a> realizado con <a href="https://datosabiertos.jcyl.es/web/es/datos-abiertos-castilla-leon.html" rel="external">datos abiertos de la Junta de Castilla y León</a>. Errores o sugerencias a <a href="mailto:cyl19@ogarcia.es">cyl19@ogarcia.es</a></p>
    </footer>
    <script>if ('serviceWorker' in navigator) window.addEventListener('load', () => navigator.serviceWorker.register('/service-worker.js'));</script>
</body>
</html>